.lista-completa{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px 2px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    background-color: rgb(26, 25, 25);
    min-height: 100px ;
}
.contenedor-tareas-nuevas{
    width: 350px;
    min-height: 60px;

}
p{
    margin-top: 10px;
    color: rgb(126, 126, 126);
}